annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
certifi==2026.2.25
cfgv==3.5.0
charset-normalizer==3.4.5
click==8.3.1
distlib==0.4.0
fastapi==0.135.1
filelock==3.25.0
h11==0.16.0
identify==2.6.17
idna==3.11
nodeenv==1.10.0
platformdirs==4.9.4
pre-commit==4.5.1
pydantic==2.12.5
pydantic-core==2.41.5
python-discovery==1.1.1
pyyaml==6.0.3
requests==2.32.5
starlette==0.52.1
typing-extensions==4.15.0
typing-inspection==0.4.2
urllib3==2.6.3
uvicorn==0.41.0
virtualenv==21.1.0
